@page "/"
@using blazorapp.Components

<AuthorizeView>
    <Authorized>
        <Principal/>
    </Authorized>
    <NotAuthorized>
        <div class="card text-center">
            <div class="card-body">
                <p class="h2">
                    Aqui se guardan tus secretos <b>Inicie Sesion</b> para ver y agregar tus Secretos
                </p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
