@page "/"
@using blazorapp.Components

<AuthorizeView>
    <Authorized>
        <Principal/>
    </Authorized>
    <NotAuthorized>
        <p class="h2">
            Aqui Guardamos se guardan tus secretos Inicie Sesion para ver y agregar tus Secretos
        </p>
    </NotAuthorized>
</AuthorizeView>
